{% extends 'admin/base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h2>Category index</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('category_show', {'id': category.id}) }}">Show</a></button>
                    <a class="btn btn-outline-info" href="{{ path('category_edit', {'id': category.id}) }}">edit</a></button>
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button" class="btn btn-outline-primary"><a href="{{ path('category_new') }}">Create new</a></button>
    
{% endblock %}
